---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<style>
.button-43 {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 16px;
  justify-content: center;
  padding: 1rem 1.75rem;
  text-decoration: none;
  width: 100;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-43:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}

@media (min-width: 768px) {
  .button-43 {
    padding: 1rem 2rem;
  }
}
</Style>
<!-- HTML !-->

  <div id="main" role="main">
    {% include sidebar.html %}
  
    <div class="archive">
      <!-- {{ content }} -->

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/pcooksey/bibtex-js@latest/src/bibtex_js.js" type="text/javascript" charset="utf-8"></script>  <!--local version of bibtex file-->
      <!-- <bibtex src=`https://www.googleapis.com/drive/v3/files/1YVmuyKmWcMzqci2Skbd9LCj-yzWyYX6GBb4YKad9JVw?alt=media`></bibtex> -->
       <!--  <bibtex src="https://drive.google.com/file/d/12TEuUqdrNhdwGpCZMdcdSzpUjE_gIg9j/view?usp=sharing"></bibtex> -->
          <bibtex src="{{ '/BictexFile/references.bib' | relative_url }}"></bibtex> 
   
      <!-- <bibtex src="https://raw.githubusercontent.com/CoolProp/CoolProp/master/CoolPropBibTeXLibrary.bib"></bibtex> -->
      <script>
      $(function() {
        $("#Fontselector").on("change",function() {
          var font = $("#Fontselector option:selected").text();
          console.log(font);
      
          $('.title.fonters').each(function() {
            $(this).css("font-family",font);
          });
        }); 
      });   
      function reset() {
        $("select").each(function () {
          localStorage.setItem($(this).attr("id"),"");
          $(this).val("");
        }); 
        $("#searchbar").val("");
        $("#searchbar").trigger('change');
      }
      </script>
      
      <style>
        html,body,span,h1 {
          font-family: "Times New Roman", Times, serif;
          font-size: 17px;
        }
        bibtex { display: none; }
        .searchbar { margin-left:0px;}
        #bibtex_errors { margin-top:10px; color: red;}
        h1.header {margin-left:8px;}
        h1.YEAR { font-size: 17px; font-weight: bold; display: inline; margin-left:8px;}
      </style>
      
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      
    </head>
  <body>
  <a name="top"></a>
  <h1 class="header">Publications</h1>
  <div class="container-fluid">
    <div class="searchbar">
      <div style="float:left;">
        <input type="text" class="bibtex_search form-control" id="searchbar" placeholder="Search publications">
        <span class="help-block">Example: journal 2015 (finds the intersection of the two terms)</span>
      </div>
    </div>
  </div>
  
  <div class="bibtex_structure">
    <div class="group year" extra="DESC number">
        <!-- <a href="#top" style="display: inline"><em>(Top of the page)</em></a> -->
        <div style="padding-bottom:10px;"></div>
        <div class="sort journal" extra="DESC string">
          <div class="templates"></div>
        </div>
    </div>
  </div>
  
  <div id="bibtex_display">
    
    <div class="bibtex_template" style="display: none;">
      <ul> <li>
        <div class="if title">
         
          <span style="text-decoration: underline;" class="title"></span>
          <span class="if url" style="margin-left: 4px">
            <a class="url" style="color:blue; font-size:15px" target="_blank">(view online)</a>
          </span>,
        </div>
        <div class="if author">
          <span class="author"></span>
        </div>
        <div>
            <span class="if journal"><em><span class="journal"></span></em>, </span>
            <span class="if publisher"><em><span class="publisher"></span></em>, </span>
            <span class="if booktitle">In <em><span class="booktitle"></span></em>, </span>
            <span class="if address"><span class="address"></span>, </span>
            <span class="if month"><span class="month"></span>, </span>
            <span class="if year"><span class="year"></span>, </span>
            <span class="if note"><span class="note"></span>, </span>
            <span class="if archivePrefix"><span class="archivePrefix"></span>, </span>
            <span class="if volume"><span class="volume"></span>, </span>
            <span class="if number"><span class="number"></span>, </span>
            <span class="if pages"><span class="pages"></span>, </span>
            <span class="if series"><span class="series"></span>, </span>
            <span class="if edition"><span class="edition"></span>, </span>
            <span class="if editor"><span class="editor"></span>, </span>
            <span class="if organization"><span class="organization"></span></span>
          </div>
        <div class="bibtexVar collapse" id="bib+BIBTEXKEY+" extra="BIBTEXKEY">
        <div class="well">
          <pre><span class="bibtexraw noread"></span></pre>
        </div>
      </div>
      <div style="display:none"><span class="bibtextype"></span></div>
      </li></ul>
    </div>
    
  </div>
 
<!-- <script>

let input = document.getElementById("search__input");
let btn = document.getElementById("search__btn");
// Event listener for the input element
console.log("fuera");


btn.onclick=function(){
  let s = input.value.toLowerCase();
  let list = document.getElementsByClassName("list__item");
  for(let i=0;i<list.length;i++){
      let item = list[i];
      let childr = [...item.firstChild.children];
      let filtered = childr.filter(p=>p.innerHTML.toLowerCase().search(s) != -1);
      if(filtered.length>0){
          item.removeAttribute("hidden");
      }else{
          item.setAttribute("hidden",true);
      }
  }
}
</script> -->
